/*Reset*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*{
    /*Faire en sorte de supprimer toutes les marges*/
    margin: 0;
    padding: 0;

    /*Intégrer les padding et les bordures ds la largeur et la hauteur des blocs*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Faire en sorte que 1rem soit égale à 10px*/
html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}


app-header{
    text-transform: uppercase;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #3F51B5;
    color: white;
    padding: 2rem;
    z-index: 1;
}

app-header li{
    display: inline-block;
    margin-right: 1rem;
}

app-header a{
    background-color: white;
    padding: .5rem 1rem;
    color: #3F51B5;
    font-size: 1rem;
    font-weight: 700;
}

app-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #3F51B5;
    padding: 1rem;
    color: white;
}

app-footer a{
    color: white;
}

/*Style main*/

router-outlet + *{
    padding: 11rem 2rem 6rem 2rem;
    position: fixed;
    width: 100%;
    height: 100%;
}

/*Style dashboard*/

app-dashboard article{
    padding: 2rem;
    color: white;
    background-color: rgba(63, 81, 181, .5);
    margin: 1rem auto;
    position: relative;
}

app-dashboard article span{
    position: absolute;
    right: 2rem;
    background-color: white;
    color: #3F51B5;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 1rem;
}
